/* General */

:root {
	--color-accent: #3bcc99;
	--color-accent-dark: #208763;
	--color-accent-light: #74f7ca;
}

* {
	margin: 0;
	font-family: 'DM Mono', monospace;
	box-sizing: border-box;
}

body {
	font-size: 22px;
	background-image: url('names-background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

h1,
h2 {
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
}

h1 {
	font-size: 400%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 130%;
	font-weight: 400;
}


/* Sign up section */

.sign-up-section-background {
	background-image: url('synagogues.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
}

.sign-up-section-overlay {
	background-color: rgba(0, 0, 0, 0.25);
}

.sign-up-section {
	color: white;
	padding: 150px 120px 120px;
	text-align: center;
	max-width: 1500px;
	margin: auto;
}

.sign-up-section h1,
.sign-up-section h2,
.sign-up-section h3 {
	text-shadow: 0px 0px 15px #000000;
}

.sign-up-section h3 {
	max-width: 600px;
	margin: auto;
}

.hebrew-subtitle {
	font-family: 'Suez One', serif;
}

.description {
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
}

.highlight {
	line-height: 1.5;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);
	font-family: inherit;
}

.photo-credit {
	padding: 5px;
	font-size: x-small;
	color: white;
}


/* Sign up section -> Form */

input {
	padding: 20px;
	border-radius: 10px;
	border: 0;
	font-size: 120%;
	box-shadow: 0px 0px 20px #000000;
}

input:focus {
	outline: none;
}

input[type='text'] {
	width: 400px;
}

input[type='submit'] {
	background-color: var(--color-accent-light);
	padding-left: 40px;
	padding-right: 40px;
	cursor: pointer;
}

input[type='submit'].loading {
	background-image: url('loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 80%;
	color: rgba(0, 0, 0, 0);
}

input[type='submit']:hover {
	background-color: var(--color-accent-dark);
	cursor: default;
}

input[type='submit'].loading:hover {
	background-color: var(--color-accent-light);
}

.grecaptcha-badge {
	display: none;
}

.commit-form div {
	display: none;
}

.success {
	display: none;
}


/* Names section */

.names-section-shadow {
	-webkit-box-shadow: inset 0px 15px 10px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 15px 10px -8px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 15px 10px -8px rgba(0, 0, 0, 0.75);
}

.names-section {
	text-align: center;
	padding: 50px 0 300px;
}

.names-section h1 {
	margin-bottom: 50px;
}

.name {
	font-size: 36px;
	margin: 20px;
}


/* AM Design Logo */

.am-design-wrapper {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0px;
	z-index: 1;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 80px;
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.am-design {
	display: block;
	height: 80px;
	margin-left: auto;
}


/* Media queries */

@media screen and (max-width: 1100px) {
	.sign-up-section {
		padding: 100px;
	}
}

@media screen and (max-width: 900px) {
	.sign-up-section-background {
		background-image: url('synagogues-portrait.jpg');
	}
	.sign-up-section {
		padding: 50px;
	}
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 300%;
	}
	h2 {
		font-size: 160%;
	}
	.sign-up-section {
		padding: 20px;
	}
	input {
		display: block;
		width: 90%;
		margin: auto;
	}
	input[type='text'] {
		width: 90%;
		margin-bottom: 20px;
	}
	.am-design {
		margin: auto;
	}
}

@media screen and (max-width: 500px) {
	input {
		width: 100%;
	}
	input[type='text'] {
		width: 100%;
	}
}

@media screen and (max-height: 650px) {
	.sign-up-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}